.tittle {
    font-size: 3em;
    padding: 65px 0;
}

section {
    padding: 55px 0;
}

.padding-50 {
    padding: 50px 0;
}

.school {
    width: 90%;
}

.padding-10 {
    padding: 10px 0;
}

.btn-rounded {
    border-radius: 10em;
}

.text-shadow {
    text-shadow:2px 2px 6px rgba(0, 0, 0, 0.32);
}

.left {
    margin-left: auto;
    margin-right: 10px; 
}

h1 {
    font-size: 45px;
    vertical-align: bottom;
}

.margin-20 {
    margin: 40px 20px;
}

.margin-10 {
    margin: 10px 0;
}

.center {
    padding-top: 30%;
}

.email {
    font-size: 20px;
    margin-top: 15px;
}

.vk {
    color: #4a76a8;
}

.inst {
    color: #e600a2;
}

.facebook {
    color: #0072e6;
}

