body {
    background: url(../img/123.jpg) no-repeat center top / cover;
}

.card-shandy {
    margin-bottom: 50px;
    border-radius: .25rem;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.p {
    padding-top: 15px;
}
